<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for a fool in doubt" href="/feed.xml" />
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    </noscript>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ page.title }}</title>
</head>

<body>
    <h1>a fool in doubt </h1>
    <p>
        <small><a href="https://twitter.com/foolindoubt?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
                data-dnt="true" data-show-count="false">follow on twitter</a> </small>
    </p>
    <hr>

    {{ content }}

    <p><small><a href="/feed.xml">feed</a></small></p>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8SEK29JJ9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y8SEK29JJ9');
    </script>

</body>

</html>