<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for a fool in doubt" href="/feed.xml" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ page.title }}</title>
</head>

<body>

    <h1>a fool in doubt    </h1>
    <p>
        <a href="https://twitter.com/foolindoubt?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
            data-dnt="true" data-show-count="false">Follow @foolindoubt</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    <hr>

    <small><a href="/">Home</a></small>

    <h2>{{ page.title }}</h2>

    <p><small><i>{{ page.date | date_to_string }}</i></small></p>

    <p>
        <a href="https://twitter.com/intent/tweet?screen_name=foolindoubt&ref_src=twsrc%5Etfw"
            class="twitter-mention-button" data-related="foolindoubt" data-show-screen-name="false" data-dnt="true"
            data-show-count="false">Tweet to @foolindoubt</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
        
    {{ content }}

    {% if page.previous != nil %}
    <p><small>Previous: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></small></p>
    {% endif %}

    {% if page.next != nil %}
    <p><small>Next: <a href="{{ page.next.url }}">{{ page.next.title }}</a></small></p>
    {% endif %}

    <hr />
    <p><small><a href="/feed.xml">feed</a></small></p>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8SEK29JJ9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y8SEK29JJ9');
    </script>

</body>

</html>